<ul>
  <li><a href="/">Main page</a></li>
</ul>
<form method="post" action="/users">
  <label for="user"><strong>Input new user name:</strong></label>
  <input id="user" type="text" name="name" value="" style="width: 250px;">
  <input type="submit" name="submit" value="Add new user">
</form>
